<% cache tuit do %>
  <!-- _tuit.html.erb -->
  <div class="tuit">
    <div class="profile"><%= 
      link_to user_url(tuit.user) do
        avatar_url(tuit.user) 
      end
      %></div>
    <div class="text"><%= tuit.text %></div>
    <div class="date"><%= time_ago_in_words tuit.created_at, include_seconds: true %></div>

  </div>
<% end %>