<!-- _user.html.erb -->
<div class="user" data-user-id='<%= user.username %>'>
  <div class="profile"><%= avatar_url(user, size: :big) %></div>
  <div class="name"><%= user.name %></div>
  <div class="actions">
    <%= follow_button(user) %>
    <%= link_to user_url(user), class: 'btn btn-default' do %>
      <i class="fa fa-fw fa-user"></i>
    <% end %>
  </div>
</div>