<!-- show.html.erb -->
<div class="row profile">
  <div class="container">
  <% cache @user do %>
    <div class="row">
      <div class="col-md-2"><%= avatar_url(@user, size: :big) %></div>
      <div class="col-md-10">
        <div class="name rest-in-place" data-url="<%= user_url(@user) %>" data-object="user" data-attribute="name" data-placeholder="Enter a name">
          <%= @user.name %>
        </div>
        <div class="email"><%= @user.email %></div>
        
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="actions"><%= follow_button(@user, remote: false) %></div>
  </div>
  <div class="row">
    <% cache cache_key_for_relation('user/following', @following) do %>
      <div class="col-md-6 following">
        <h3>Following <%= @following_count %></h3>
        <%= render partial: 'users/avatar', collection: @following, as: :user %>
      </div>
    <% end %>
    <% cache cache_key_for_relation('user/followers', @followers) do %>
      <div class="col-md-6 followers">
        <h3>Followers <%= @followers_count %></h3>
        <%= render partial: 'users/avatar', collection: @followers, as: :user %>
      </div>
    <% end %>
  </div>
  <% cache cache_key_for_relation('user/tuits', @tuits) do %>
    <div class="row">
      <h3>Tuits</h3>
      <%= render @tuits %>
    </div>
  <% end %>
</div>