<!-- timeline.html.erb -->
<div role="main" class="timeline" id="timeline">
  <div class="tuit-box">
    <div class="profile"><%= avatar_url(current_user) %></div> 
    <%= form_for(Tuit.new, url: tuits_url) do |f| %>
      <div class="field">
        <%= f.text_area :text, autofocus: true, maxlength: 160, class: 'countable' %>
        <div class="counter"></div>
      </div>
      <div class="actions">
        <%= f.submit "Tuit" %>
      </div>
    <% end %>
  </div>
  <% cache cache_key_for_relation('timeline/tuits', @tuits) do %>
    <div class="stream-container">
      <%= render @tuits %>    
    </div>
  <% end %>
</div>

