/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Menu items */
.navbar-inverse .navbar-nav>li>a {
  max-height: 50px;
}

.navbar-inverse .navbar-nav>li>a .name {
  display: inline;
  margin-right: 5px;
}

/* Profile */
.profile-avatar {
  border-radius: 4px;
}

/* Alerts */
.alert {
  position: absolute;
  z-index: 1;
  right: 0px;
  max-width: 300px;
}

/* Social buttons */
.btn-social {
  margin: 5px;
}

/* Tuit */
.tuit-box {
  padding-bottom: 15px;
}
.tuit-box, .tuit {
  display: flex;
  border-bottom: 1px #DADADA solid;
}

.tuit-box .profile-avatar, .tuit .profile-avatar {
  margin: 10px 0px;
}

.tuit-box .counter {
  text-align: right;
  padding-right: 15px;
}

.tuit-box .counter.maxLimit {
  color: red;
}

#new_tuit, .tuit .text {
  display: flex;
  width: 100%;
}

.tuit .text {
  text-align: left;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#new_tuit .field {
  width: 100%;
}

#new_tuit .field TEXTAREA {
  width: 95%;
}

.tuit .date {
  font-size: x-small;
  display: flex;
  align-items: flex-end;
  width: 90px;
  justify-content: flex-end;
  margin-right: 5px;
  color:#C3C3C3;
}

/* Profile */
.profile .name {
  font-size: xx-large;
  display: flex;
}
.profile .email {
  display: flex;
}
.profile .actions {
  display: flex;
}

@media (max-width: 991px) {
  .profile .name, .profile .email {
    justify-content: center;
  }
  .profile .actions {
    justify-content: center;
  }
}

.profile .following, .profile .followers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.profile .following .profile-avatar, .profile .followers .profile-avatar {
  margin: 5px;
  border: 5px;
}
.profile h3 {
  width: 100%;
}

/* Users */
.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.users .user {
  margin: 15px 0px;
  width: 20%;
  min-width: 120px;
}
.btn-follow, .btn-unfollow {
  width: 100px;
}