<% if notice || alert %>
  <div class="alert <%= notice ? "alert-info" : "" %><%= alert ? "alert-danger" : "" %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div >
      <% if notice %>
        <%= notice %>
      <% elsif alert %>
        <%= alert %>
      <% end %>
    </div>
  </div>
<% end %>